<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>monsterId</key>
		<integer>0</integer>
		<key>rate</key>
		<string>14</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>1</integer>
		<key>rate</key>
		<string>17</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>3</integer>
		<key>rate</key>
		<string>31</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>4</integer>
		<key>rate</key>
		<string>34</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>6</integer>
		<key>rate</key>
		<string>48</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>7</integer>
		<key>rate</key>
		<string>51</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>9</integer>
		<key>rate</key>
		<string>65</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>10</integer>
		<key>rate</key>
		<string>68</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>12</integer>
		<key>rate</key>
		<string>82</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>13</integer>
		<key>rate</key>
		<string>85</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>15</integer>
		<key>rate</key>
		<string>97</string>
	</dict>
	<dict>
		<key>monsterId</key>
		<integer>16</integer>
		<key>rate</key>
		<string>100</string>
	</dict>
</array>
</plist>
