<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground6</string>
		<key>monsterId</key>
		<integer>0</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>奶嘴绿宝宝</string>
		<key>rateContent</key>
		<string>四处晃悠</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>20</integer>
		<key>skillContent</key>
		<string>亲情加分，米聊聊单次任务结算时携带可获1.5倍米粒收成</string>
		<key>levelContent</key>
		<string>小流氓</string>
		<key>storyContent</key>
		<string>看似年芳18,实际深藏功名。因为双手短小，无法自己挠背，从而走上流氓的道路。经常以一蓝色奶嘴隐藏自己，对着路边野花卖萌，试图让他人帮忙挠痒。平生最恨别人嘲笑自己手短，发怒时会以奶嘴砸人，因其奶嘴常年不换，硬度媲美一般法式面包，能够造成一定杀伤，属于流氓中能扰民的小流氓行列。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster0</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster0</string>
		<key>familyName</key>
		<string>流氓</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground6</string>
		<key>monsterId</key>
		<integer>1</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>哨牙肚脐仔</string>
		<key>rateContent</key>
		<string>偶尔冒头</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>80</integer>
		<key>levelContent</key>
		<string>壮流氓</string>
		<key>storyContent</key>
		<string>呆萌的双眼里面透露着邪恶的光芒，肥大的肚脐里面暗藏在深深的恶意。由于天生哨牙无法嗑到一颗完整的瓜子，因此怨恨全世界。通常利用圆滚滚的肚子对敌人进行压制，属于流氓中的打手。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster1</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster1</string>
		<key>familyName</key>
		<string>流氓</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground6</string>
		<key>monsterId</key>
		<integer>2</integer>
		<key>monsterType</key>
		<integer>2</integer>
		<key>monsterName</key>
		<string>装萌肥烟仔</string>
		<key>rateContent</key>
		<string>深居简出</string>
		<key>maxHp</key>
		<integer>1000</integer>
		<key>riceNum</key>
		<integer>400</integer>
		<key>levelContent</key>
		<string>老流氓</string>
		<key>storyContent</key>
		<string>想嫖？没外表。想赌？没钱财。想吸毒？洗洗睡吧。天生一副我今天没吃药感觉自己萌萌嗒的渣渣相貌。幻想着一统江湖黑老大，却穷的连烟屁股都不放过。仗着自己先天优势不断卖萌蒙骗烟钱。但唯一的优势是，挺着臃肿的大肚子，为怪心狠手辣，善于煽动哨牙仔去干架，有十足的流氓领袖气质。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster2</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster2</string>
		<key>familyName</key>
		<string>流氓</string>
		<key>condition</key>
		<string>仅重拳可以伤血</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground3</string>
		<key>monsterId</key>
		<integer>3</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>门牙竹筒饭</string>
		<key>rateContent</key>
		<string>到处飘荡</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>25</integer>
		<key>skillContent</key>
		<string>幸运加分，米有氧行走过程中特殊事件发生概率翻倍</string>
		<key>levelContent</key>
		<string>小饭团</string>
		<key>storyContent</key>
		<string>因为崇拜菠萝饭天生的体香而慕名加入了米饭帮，却因为修长的体态和纤细的身躯被老大排挤沦落成为到处飘荡的米饭帮喽啰。滚圆的双眼和洁白的门牙是其标志，每天都因为自己人气太低而自怨自艾，总担心被老大干掉拿去做牙签，属于米饭帮中战斗力倒数的货。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster3</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster3</string>
		<key>familyName</key>
		<string>米饭帮</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground3</string>
		<key>monsterId</key>
		<integer>4</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>摇滚菠萝饭</string>
		<key>rateContent</key>
		<string>上跳下窜</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>120</integer>
		<key>levelContent</key>
		<string>中白饭</string>
		<key>storyContent</key>
		<string>酷爱摇滚乐，身上总是喷上厚厚的古龙水，一双老式眼睛凸显了摇滚青年的叛逆。总是出现在泰国餐馆和马来西亚餐馆附近，讲话口音带着浓浓的东南亚风情。平日最爱勾搭纯情少年，以去东南亚穷游为借口骗至阴暗处再施加毒手，为人狠辣，在米饭帮内属于一号人物</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster4</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster4</string>
		<key>familyName</key>
		<string>米饭帮</string>
	</dict>
	<dict>
		<key>time</key>
		<integer>90</integer>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground3</string>
		<key>monsterId</key>
		<integer>5</integer>
		<key>monsterType</key>
		<integer>2</integer>
		<key>monsterName</key>
		<string>鸟嘴椰子饭</string>
		<key>rateContent</key>
		<string>幕后黑手</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>600</integer>
		<key>levelContent</key>
		<string>大饭桶</string>
		<key>storyContent</key>
		<string>米饭帮中的中流砥柱，脸上一抹腮红总是给人胆小谨慎的错觉，实则是米饭帮最得力的打手。因年幼时被虐待，椰子肉和椰子汁被生生挖去做椰子奶，并且被装入大量米饭当做饭桶使用，仇视一切食米的人类。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster5</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster5</string>
		<key>familyName</key>
		<string>米饭帮</string>
		<key>condition</key>
		<string>仅有轻拳才能打死，且在1分钟内</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground5</string>
		<key>monsterId</key>
		<integer>6</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>尖牙小恶魔</string>
		<key>rateContent</key>
		<string>漫山遍野</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>25</integer>
		<key>skillContent</key>
		<string>敏捷加分，米有氧单次任务结算时携带可获1.5倍米粒收成</string>
		<key>levelContent</key>
		<string>小喽啰</string>
		<key>storyContent</key>
		<string>因具有飞翔天赋技能，充当山贼中的侦查角色。尖尖的牙齿和一抹淡淡的浅笑，透露着其淡泊的心；短小的双角和纤细的翅膀，暗示着其脆弱的身躯；单纯的眼睛里面，闪烁着单纯的光芒，等待着主人的驯服。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster6</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster6</string>
		<key>familyName</key>
		<string>山贼</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground5</string>
		<key>monsterId</key>
		<integer>7</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>贪吃山队长</string>
		<key>rateContent</key>
		<string>偶尔出现</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>100</integer>
		<key>levelContent</key>
		<string>小头目</string>
		<key>storyContent</key>
		<string>贪吃山队长是山贼中的小头目，来自大吃省，四只脚的除了桌椅什么都敢吃！是地包天大王的第一打手。看似凶狠，其实对攻击他人并无兴趣，日常兴趣是搜刮各种生物内脏，然后以大吃省的标准铁板方法进行烹饪，因此凶名四散。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster7</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster7</string>
		<key>familyName</key>
		<string>山贼</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground5</string>
		<key>monsterId</key>
		<integer>8</integer>
		<key>monsterType</key>
		<integer>2</integer>
		<key>monsterName</key>
		<string>地包天大王</string>
		<key>rateContent</key>
		<string>山林深处</string>
		<key>maxHp</key>
		<integer>600</integer>
		<key>riceNum</key>
		<integer>400</integer>
		<key>levelContent</key>
		<string>山大王</string>
		<key>storyContent</key>
		<string>地包天是山贼家族中的老大，下颚的利齿能够咬破十八年的硬糙米，邪恶的小眼里仍然透露着对邪恶世界的一丝美好幻想，但，那也仅仅是幻想而已。行动敏捷，十分能打，唯一缺陷是其脑袋太大，因此压迫双脚内八，长得比较难看。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster8</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster8</string>
		<key>familyName</key>
		<string>山贼</string>
		<key>condition</key>
		<string>仅轻拳可以伤血</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground1</string>
		<key>monsterId</key>
		<integer>9</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>紫菜鱼子怪</string>
		<key>rateContent</key>
		<string>店家常备</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>30</integer>
		<key>skillContent</key>
		<string>财富加分，所有小功能结算时携带可获1.2倍米粒收成</string>
		<key>levelContent</key>
		<string>白碟寿司</string>
		<key>storyContent</key>
		<string>体积小，样子傻，价格低，各种硬性指标的不达标导致紫菜鱼子怪在寿司界的地位极低，一直抬不起头。同时因其短手短脚，眼中无神，牙齿稀疏战斗能力低下，经常被当做炮灰使用。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster9</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster9</string>
		<key>familyName</key>
		<string>寿司怪</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground1</string>
		<key>monsterId</key>
		<integer>10</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>三文鱼妖</string>
		<key>rateContent</key>
		<string>得看季节</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>100</integer>
		<key>levelContent</key>
		<string>红蝶寿司</string>
		<key>storyContent</key>
		<string>三文鱼本来为鱼类中的战斗种族，每年要逆溯回上游产卵，鱼肉鲜美，肥而不腻。三文鱼妖以一片三文鱼配搭适量米饭，为寿司怪中最美味的品种之一。因其体态优美，手脚有力，是紫菜鱼子怪的直接上司。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster10</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster10</string>
		<key>familyName</key>
		<string>寿司怪</string>
	</dict>
	<dict>
		<key>time</key>
		<integer>60</integer>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground1</string>
		<key>monsterId</key>
		<integer>11</integer>
		<key>monsterType</key>
		<integer>2</integer>
		<key>monsterName</key>
		<string>大托罗兽</string>
		<key>rateContent</key>
		<string>得看运气</string>
		<key>maxHp</key>
		<integer>1000</integer>
		<key>riceNum</key>
		<integer>600</integer>
		<key>levelContent</key>
		<string>寿司之神</string>
		<key>storyContent</key>
		<string>因为顶级的蓝鳍大托罗鱼实在是太贵，因此一片鱼生下面配置了大量的饭团，造成了大托罗兽巨大的体积。大托罗兽以鲜出名，柔弱的托罗肉赋予了其无穷的力量。又因为大托罗鱼贵族的身份，大托罗兽为寿司怪的统领。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster11</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster11</string>
		<key>familyName</key>
		<string>寿司怪</string>
		<key>condition</key>
		<string>仅重拳可以伤血，1分钟内打死</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground2</string>
		<key>monsterId</key>
		<integer>12</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>迷你甜粽子</string>
		<key>rateContent</key>
		<string>遍布全国</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>30</integer>
		<key>skillContent</key>
		<string>智商加分，每天阅读米知结算时携带可获2倍米粒收成</string>
		<key>levelContent</key>
		<string>无肉粽</string>
		<key>storyContent</key>
		<string>粽子一族是流亡海外的倭寇，由于近年米粒欠收，繁殖压力增大，故再次上岸作乱。迷你甜粽子智商很高，本是优秀的前站哨兵，但因为体内无肉，四肢无力，一直都不太自信，被迫沦落在家族中充当打杂的工作。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster12</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster12</string>
		<key>familyName</key>
		<string>粽子家族</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground2</string>
		<key>monsterId</key>
		<integer>13</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>海鲜糯米粽</string>
		<key>rateContent</key>
		<string>得看季节</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>120</integer>
		<key>levelContent</key>
		<string>有肉粽</string>
		<key>storyContent</key>
		<string>海鲜糯米是粽子一族的主力打手，因体内食材鲜美，四肢发达，在家族中享有崇高的地位，是每次远征的先锋官。神秘的眼罩下似乎蕴藏着神奇的力量，总能在危急之时力挽狂澜，逃之夭夭，目前还未有资料对其进行解密。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster13</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster13</string>
		<key>familyName</key>
		<string>粽子家族</string>
	</dict>
	<dict>
		<key>time</key>
		<integer>30</integer>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground2</string>
		<key>monsterId</key>
		<integer>14</integer>
		<key>monsterType</key>
		<integer>2</integer>
		<key>monsterName</key>
		<string>巨型咸肉粽</string>
		<key>rateContent</key>
		<string>神出鬼没</string>
		<key>maxHp</key>
		<integer>700</integer>
		<key>riceNum</key>
		<integer>500</integer>
		<key>levelContent</key>
		<string>多肉粽</string>
		<key>storyContent</key>
		<string>咸肉巨粽是贵族，一般不轻易出现。别看它被包得严严实实的肉身，不倒翁似的外型给了他强劲的耐久力，巨大的吨位也让他成为了捕获难度系数最高的粽子。但他的性情非常温和，从他脸颊两撇腮红可见一斑。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster14</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster14</string>
		<key>familyName</key>
		<string>粽子家族</string>
		<key>condition</key>
		<string>30秒内打死</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground4</string>
		<key>monsterId</key>
		<integer>15</integer>
		<key>monsterType</key>
		<integer>0</integer>
		<key>monsterName</key>
		<string>大眼猪肠仔</string>
		<key>rateContent</key>
		<string>饭市横行</string>
		<key>maxHp</key>
		<integer>200</integer>
		<key>riceNum</key>
		<integer>20</integer>
		<key>skillContent</key>
		<string>愤怒加分，米拳击单次任务结算时携带可获1.5倍米粒收成</string>
		<key>levelContent</key>
		<string>家常级</string>
		<key>storyContent</key>
		<string>吃完饭以各种理由赖账，是饭闹一族的特点。猪场仔因常年为老大赖账，自己不吃，导致面黄肌瘦，身材纤细，走到哪里都被人欺负。看他一脸无辜的表情，就知道是已经被欺负得没脾气了，他做梦都想着被人类收养，这样他就可以名正言顺地造反了。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster15</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster15</string>
		<key>familyName</key>
		<string>饭闹</string>
	</dict>
	<dict>
		<key>backgroundImagePath</key>
		<string>riceBoxingBackground4</string>
		<key>monsterId</key>
		<integer>16</integer>
		<key>monsterType</key>
		<integer>1</integer>
		<key>monsterName</key>
		<string>傻气松茸怪</string>
		<key>rateContent</key>
		<string>藏柜深处</string>
		<key>maxHp</key>
		<integer>500</integer>
		<key>riceNum</key>
		<integer>80</integer>
		<key>levelContent</key>
		<string>珍馐级</string>
		<key>storyContent</key>
		<string>饭闹一族的老大，为了保持自己的肉质鲜美，他必须充分进食，每天都在压榨下属猪肠仔，去到处饭闹，然后自己在厨房里偷吃。咧开的大嘴下隐藏着他的狡猾，就靠着装傻卖萌安抚下属，满足自己无尽的胃和贪婪的心。</string>
		<key>gayImagePath</key>
		<string>boxingGayMonster16</string>
		<key>normalImagePath</key>
		<string>boxingNormalMonster16</string>
		<key>familyName</key>
		<string>饭闹</string>
	</dict>
</array>
</plist>
