<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>6</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>著名的阿波罗亚港口，位于精灵大陆最东端，是在猿族传奇领袖凯撒的主导下修建的，为了感谢海神波塞冬长久以来，对这条来往奥加大陆航线的保护。但不知什么原因，最近几乎没有航线愿意经过这里了，有人说是因为海盗出没，有人说是害怕气候异常，它似乎是不祥之地，预示着什么不好的事情终要发生。</string>
		<key>progress</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>storyTips</key>
		<dict>
			<key>tipsType</key>
			<integer>1</integer>
			<key>content</key>
			<string>失去碎片</string>
			<key>imagePath</key>
			<string>event4</string>
		</dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>6</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“你给我站住！”如梦初醒的大郎刚一睁眼，就发现自己的包裹正在被几头丑陋的猩猩随意摆弄，情急之下，大郎本想吓退他们，却没料想“厄尔斯”碎片也在自己的包裹里。这下坏了，在黑暗星河里都没被抢，眼下却被几只猴子抢了去，大郎一跃，奋起直追。</string>
		<key>progress</key>
		<real>20000</real>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>6</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>三支急速飞来的长矛准确地戳在了大郎跟前，像是一种警告。抬头远眺，三五成队的猿群都在摇曳奔走，这一定不是大郎的威风。果然，回过头的场景让小伙伴们都惊呆了：一头雄壮的猩猩，领着二三十头缓缓走来，右眼的三道抓痕，显然给这位领袖的气质加了不少分，“去你该去的地方吧，年轻人。”这是猿族正统后裔，他们叫他：尤尼奥尔·凯撒。</string>
		<key>progress</key>
		<real>40000</real>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>6</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“那里边的东西非常重要，关乎精灵大陆的未来，请您一定要帮助我！”大郎第一眼，就被这位眼神里透出坚毅的领袖征服了，尽管这些天紧绷的神经和连续的奔波，已经接近他的身体极限，他还是一口气倾吐了自己的来意和这些天的遭遇，并恳请猿族帮助他夺回被抢的碎片。凯撒犹豫了。</string>
		<key>progress</key>
		<integer>60000</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>7</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“自从祖父死后，柯尔巴叔叔就策反了族群里的激进派，他们专门抢夺过往的商贾，表面上说是要还猿族一块净土，但结果是现在没人愿意来了，猿族根本得不到进步和发展，我们一直都在对抗他们的势力，你要是愿意的话，少年，少年……？”还没听完凯撒的话，大郎终于体力不支，倒下了。</string>
		<key>progress</key>
		<real>80000</real>
	</dict>
</array>
</plist>
