<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>伊顿斯堡是人类最后的栖息地，这一切都是一种叫米怪的外来物种造成的，噢不，其实它最早是人类实验室的产物，专门帮人类将腐坏的粮食再生。不幸的是，后来发生了突变，他们开始疯狂地掠夺人类的谷物，这使得以大米作为主要粮食的人类几近灭绝。而人类最后的希望，虎大郎的传奇故事，也将从这里开始</string>
		<key>progress</key>
		<integer>0</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>1</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>riceNum</key>
		<integer>40</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“诶，前面草丛里的是啥？米，大米！太好了，又能吃上大米了~再走走，看能不能发现更多粮食。”获得大米对伊顿斯堡最后的人类来说，是天赐的，虎大郎只是幸存者中最普通的一个，他从来都不曾想，拯救人类的使命即将到来。</string>
		<key>progress</key>
		<integer>1000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>2</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>riceNum</key>
		<integer>200</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“路边的大米还真不少，可天生我才，就应该像将军一样，去沙场上和米怪拼了，这样三天两头被袭击，叫人日子还怎么过呀。”虎大郎一直念念不忘，从前有位算命的大叔说他骨骼惊奇。默默地行走，掩饰不住内心的热血与骚动，他一直在行走中寻找可以让这个世界彻底脱离危机的方法。</string>
		<key>progress</key>
		<integer>6000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>riceNum</key>
		<integer>200</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>”每天的小怪我都打了，还是有那么多人受冻挨饿，老人家，我该怎么办？”大郎的诚心打动了村头年长的智者，道出了天机：300年前，传说中的勇士武小松就曾用七彩水晶抵御过红龙的入侵，那魔力之巨大足以拯救人类，但如今碎片散落七块大陆，不知所踪。早些年还有义士组织远征，但从来没人能活着回来，大家也就习惯现在这种担惊受怕的生活了。听罢，大郎摩拳擦掌，早已按捺不住。</string>
		<key>progress</key>
		<integer>11000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>riceNum</key>
		<integer>200</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“这个危险却可以拯救世界的计划，就是借助七彩水晶的通灵宝力，一举根除米怪的威胁。智者不紧不慢，从屋子里拿出了一双布鞋，“我昨晚夜观星象，看灵山附近气息异常，少年你不妨去看看。这双鞋穿上吧，别看它不起眼，必能助你一口气跑上灵山。</string>
		<key>progress</key>
		<integer>16000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>story2</string>
				<key>identifier</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>arrayBuff</key>
		<array>
			<dict>
				<key>buffType</key>
				<integer>0</integer>
				<key>buffState</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
