<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>5</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>跟随着小美，大郎来到了艾德凯特的营地，远远望去，这里的米怪个头都很小，他们被持剑的侍卫保护着，或者说，更像是被严密地看守着。营头的旗帜鲜红，绣着一本书的模样，小美告诉大郎，这是米怪十二支中的其中一支，负责族群的教育工作，这不，又有一队新米簇拥着从挤进了营地的大门。</string>
		<key>progress</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>5</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“数十年前，人类伙同上层世界的其他生物，把我们赶入了这片黑暗的星河，我们就在这里扎下了根……”大郎听了既愤怒又觉得滑稽，这不正是米怪对自己做的事情吗，怎么到这里就成了人类的罪过？！躲在课室一角的大郎，内心已充满怒火。</string>
		<key>progress</key>
		<real>20000</real>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>5</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>压抑着心中的怒火，大郎继续听着米怪一本正经的授课：“……这些年来，我们都在积极地和上层世界的生物抗争，直到女巫麦吉找到了救世的方法，我们才看到了新的希望，那就是，去上层世界里收集七色水晶的碎片，召唤它的通灵宝力，让我们获得更强大的力量，保护自己的家园！”大郎听罢……</string>
		<key>progress</key>
		<real>40000</real>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>0</integer>
				<key>title</key>
				<string>奋身站起</string>
				<key>content</key>
				<string>“胡说八道，你根本就是在颠倒黑白，人类都快被你们消灭殆尽了，还在蛊惑人心！”讲堂上的米怪大惊失色，似乎这情报的泄露关乎生命一般，临急嗖的一道魔力，抹去了大郎的记忆，随之又是一阵眩晕。
				</string>
			</dict>
			<dict>
				<key>identifier</key>
				<integer>2</integer>
				<key>title</key>
				<string>潜行离去</string>
				<key>content</key>
				<string>再次按捺住心中的怒火，大郎做出了一个重要的决定：赶快逃出星河，即刻启程去寻找剩下的碎片。不料刚一转身，就被眼前的一幕惊呆了……
				</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>5</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“放开我！”这声音似曾相识，“别被他们骗了，事情根本不是他们说的那样……”话音还未落，这是大郎第一次看到米怪被处以如此极刑。奇怪的是，这四散一地的米粒并没有让大郎感到兴奋，而是莫名地陷入了深深的沉思当中：眼前的这几幕，回想起小美说过的话，他似乎对米怪更了解了，却也更不了解。他们看来无恶不作，竟也有这么严密的组织，他们拥有如此智能，为什么还要呆在这黑暗的星河地带呢？</string>
		<key>progress</key>
		<integer>60000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mutableNodeType</key>
		<dict>
			<key>3</key>
			<true/>
		</dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>6</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“别发呆了，我们快点走吧。”应着小美的提醒，大郎恍惚了片刻，起身回程。“幸好驯服了一只米怪，原来这座遗迹还要指纹识别的，也太先进了吧！”（已达成驯服小怪的关卡解锁条件，恭喜顺利通过！）又是一阵眩晕，扑鼻而来的，已是海岛棕榈的甘甜与海风拂浪的咸新。</string>
		<key>progress</key>
		<real>80000</real>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>content</key>
				<string>“别发呆了，我们快点走吧。”应着小美的提醒，大郎恍惚了片刻，起身回程。刚到山脚，大郎别过小美，却被眼前新的挑战拦住了去路。“这是什么？指纹识别器？”（解锁该关卡需使用米怪的指纹，快去驯服一只米怪来遛弯儿吧）大郎说罢便拿出了拳套，跃跃欲试地准备着。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
