<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>1</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>茂盛的沃尔夫密林，上一次成功征服它的勇士还是300年前的武小松。作为虎大郎的第一站，这是通往阿诺斯灵山的捷径，也就是传闻中“厄尔斯”碎片散落的地方。但这条捷径，沃尔夫密林，却是树王扎拉赞恩的地盘。面对幽谧的森林，大郎能否安全通过，远征的旅途又会否被扼杀在摇篮中呢？</string>
		<key>progress</key>
		<integer>0</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>1</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
        <key>arrayBuff</key>
		<array>
			<dict>
				<key>buffType</key>
				<integer>0</integer>
				<key>buffState</key>
				<integer>1</integer>
                <key>buffImagePath</key>
				<string>manImage2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>1</integer>
		</dict>
		<key>riceNum</key>
		<integer>200</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“怎么感觉怪怪的，这个岔路口好像来过？”大郎在第一站就犯了难，殊不知，这是树王为了防范人类而设置的机关。从前，人类只顾滥伐沃尔夫密林的树木，却丝毫不感恩大自然的给予，树王为了保护族人，就在密林中设置了无数迷障，宛如一条绵延数百公里的迷宫，让人类望而却步。大郎只顾走啊走，像是迷路了。</string>
		<key>progress</key>
		<integer>10000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>2</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>1</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“这都什么呀，转来转去还在这里，就我这样还说拯救人类，我真没用！”监视着大郎的一举一动，树王终于明白了他的来意。他撤消了迷障，刚想要迎接虎大朗，却还是放不下心，移动着树木的枝干为大郎引出了一条通往祭坛的路，决定再次考验眼下这个形迹可疑的年轻人。</string>
		<key>progress</key>
		<integer>30000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>1</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>终于走到了森林祭坛，这是近千年前人类感恩大自然的祭拜地，如今却异常荒凉。因为500年前的那场世纪之战，精灵大陆的人类已不再和树人来往，沃尔夫密林和这座静谧的祭坛才得以保存下来。作为大郎，在这传说中的神迹面前，你会？</string>
		<key>progress</key>
		<integer>50000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string>虔心祭拜</string>
				<key>content</key>
				<string>“一切祸患皆起因于人类无节制的索取，愿森林祭坛的精神能在人类脱离危机后重归正道吧！”话音刚落，祭坛旁嗖的一声开出了一条小路，大郎既兴奋又害怕，还是忍不住走向了它。</string>
			</dict>
			<dict>
				<key>identifier</key>
				<integer>0</integer>
				<key>title</key>
				<string>到此一游</string>
				<key>content</key>
				<string>“这种不收门票的景点想必也没什么意思，什么鬼林子啊，半天走不出去真是的。”扎拉赞恩一直在注视着大郎的一举一动，满腹疑问，谨慎地移动着树木和幽径，领着大郎在密林里穿行，又兜回了最开头的岔路口。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>2</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>查明了大郎的来意，扎拉赞恩终于现身了，他既为这个年轻人的鲁莽担心，又为他的勇气折服，决定帮他一把。“前面就是阿诺斯灵山了，白熊诺森是出了名的暴君，还和你们人类有世仇，就你这么去，肯定是九死一生。听我的，你需要做一些伪装。”说罢嗖的一声，大郎便化身成为了一头强壮的白熊。谢过树王后，独自上山，大郎却发现自己的步伐慢了许多……</string>
		<key>progress</key>
		<integer>70000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>0</integer>
				<key>mapName</key>
				<string>story3</string>
				<key>content</key>
				<string>白熊是进入灵山必要的伪装，为了不被诺森发现，只能变身白熊，体积巨大需要双倍米动力</string>
			</dict>
		</array>
		<key>arrayBuff</key>
		<array>
			<dict>
				<key>buffType</key>
				<integer>1</integer>
				<key>buffState</key>
				<integer>1</integer>
                <key>buffImagePath</key>
				<string>bear</string>
			</dict>
		</array>
        <key>storyTips</key>
		<dict>
			<key>tipsType</key>
			<integer>1</integer>
			<key>content</key>
			<string>白熊是进入灵山必要的伪装，为了不被诺森发现，只能变身白熊，体积巨大需要双倍米动力</string>
			<key>imagePath</key>
			<string>event2</string>
		</dict>
	</dict>
</array>
</plist>
