<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>3</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>阿诺斯灵山再往东，是被称为“地狱之门”的科尔伯拉火焰谷，这里极度干燥的气候与频发的火山灭绝了周围的生物。如果它不是陆地生物通往精灵大陆东部的必经之路，大概是没有人愿意踏上的，但等待着大郎的，或许并不是这暴露于地表之上的火焰与煎熬，而是这千百年来荒无人烟的未知与神话。</string>
		<key>progress</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>3</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>火焰谷之所以被称作地狱之门，是因为峡谷深处的火山口里常年燃烧着熊熊不灭的火焰，千百年来不曾有人到过谷底，也没人知道下面究竟有些什么。大郎快步穿行在炽热的土地上，却不曾感受到身边时隐时现的气息，这久违的松懈场景，就像暴风雨来临前的平静一般，让人窒息。</string>
		<key>progress</key>
		<real>20000</real>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>2</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>3</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“你这人类身上怎么会有精灵的气息，偷了东西就来火焰谷避难，也就只有你们人类干得出了。识相的，就快交出来吧！”大郎一愣，头顶的岩石说话了，背后的岩石也在移动——这是，岩石巨人！大郎瞬时按压住了心中的恐惧，想表达些什么。</string>
		<key>progress</key>
		<real>40000</real>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>3</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“这里怎么这么多奇怪的图形……怎么又是这里呀……白骨！！”殊不知，刚刚逃离陷阱的大郎又误打误撞地踩了另一个坑——星空巨石阵。这是一个古老的故事，传说在北辰七星连成一线时，巨石阵将被打开，精灵大陆连接平行世界的大门才会开启。之所以是传说，是因为没有任何一个人能活着诉说它的故事，包括300年前的勇士武小松。而此时的大郎，甚至不知道自己即将跌入万劫不复的深渊。</string>
		<key>progress</key>
		<integer>60000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mutableNodeType</key>
		<dict>
			<key>3</key>
			<true/>
		</dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>4</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“原来是要解开这些公式才能通过的，太简单了，每天看米知，妈妈再也不用担心我的学习！”（已达成连续3天或以上阅读米知的关卡解锁条件，恭喜顺利通过！）轰隆隆，石阵的中心在一阵巨大的轰鸣声中坍塌，大郎脚底一空，随着碎石断壁急速坠落。他只是到自己坠入的不是火焰谷，却不知道，那才是科尔伯拉被称为“地狱之门”的真正原因。</string>
		<key>progress</key>
		<real>80000</real>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>content</key>
				<string>“这么多图形，是不是要解开它们才能过啊？……我去，这么难，简直无情啊，还是先去看看米知好了。”（解锁该关卡需连续阅读米知3天或以上，积累智慧，攻克难题）大郎说罢便翻出了米知，仔细搜索着答案。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
