<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>4</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>黑暗星河是连接精灵大陆与平行世界桥梁的统称，桥梁的这一端由旷世遗迹出入，之前的巨石阵就是精灵大陆祖先们修建的遗迹之一，桥梁的那一端直接与平行世界相连，但现存资料中却没有任何对那里的介绍。因为从刚才到现在发生的一切，在此之前都是传说。大郎已然崩溃，可就在他模糊的意识里，他注意到了前方时隐时现的微光。</string>
		<key>progress</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>4</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“你是谁，为什么会来到这里？”大郎左顾右盼寻找声音的来源，他不敢相信竟是这跳动的微光发出了清脆的声音，既惶恐又好奇，“看你是第一次来这里吧？这里是埃尼亚克，我是星河光族，小美，嘘！有人来了，快趴下。”只见远处几只米怪正在搜索，应该是刚才大郎的坠落惊动了他们。可这里为什么会出现成群的米怪呢？</string>
		<key>progress</key>
		<integer>20000</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>4</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“这里原本是我们的家，我们星河光族几千年来一直都在精灵大陆和平行世界间奔走，为精灵大陆的生命输送自然之力，维护着它的能量平衡。”小美一边在黑暗中引路，一边解答着大郎的疑问。“后来有一天，他们破解了大门的咒语，还把出口封了起来，借助自然之力成倍增殖，就抢占了这片星河，我们现在是逃犯，所以处处都得小心。”</string>
		<key>progress</key>
		<integer>40000</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>4</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“放开我！”又一队米怪擦身而过，但奇怪的是，被羁押的竟然是他们自己的同胞，这是怎么一回事？“叫你跟丢了那个人类，我们怎么向大王交代，水晶碎片上哪儿找？本来计划好好的，跟着把剩下的碎片都抢到手，现在可好，你就等着大王发落吧！”大郎听着心凉了半截，一路走来竟没发现近在咫尺的危险，这种疏忽，是致命的。</string>
		<key>progress</key>
		<integer>60000</integer>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>5</integer>
		</dict>
		<key>mutableNodeType</key>
		<dict>
			<key>4</key>
			<true/>
			<key>5</key>
			<true/>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“山头就是出口了，出去就是精灵大陆的东海岸，连接着废弃的阿波罗亚港口，那是猿族祖先敬畏海神的遗迹，虽然被他们用奇怪的咒语封住了，但你既然进得来，应该能有办法出去。我劝你还是回到精灵大陆去吧，趁你已经甩开他们了。”</string>
		<key>progress</key>
		<integer>80000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>mapName</key>
				<string>story6</string>
				<key>mapIndex</key>
				<integer>4</integer>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string>留下调查</string>
				<key>content</key>
				<string>“这里的事情我必须调查清楚，米怪们的阴谋到底是什么。谢谢你，小美，冒险陪我走了这么久，但还请你再帮我带一回路，去他们最近的营地吧！”拦不住大郎的再三请求，小美也被他的决心感动，决定再次深入虎穴，一探究竟。
				</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>story5</string>
				<key>mapIndex</key>
				<integer>4</integer>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string>决定离开</string>
				<key>content</key>
				<string>“好，我还是快点启程去找碎片吧，绝不能让它们落入米怪之手。”大郎别过小美，却被眼前新的挑战拦住了去路。“这是什么？指纹识别器？”（解锁该关卡需使用米怪的指纹，快去驯服一只米怪来遛弯儿吧）大郎说罢便拿出了拳套，跃跃欲试地准备着。
				</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>story7</string>
				<key>mapIndex</key>
				<integer>4</integer>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string>决定离开</string>
				<key>content</key>
				<string>好，我还是快点启程去找碎片吧，绝不能让它们落入米怪之手。”大郎别过小美，快步来到遗迹口，“幸好驯服了一只米怪，原来这座遗迹还要指纹识别的，也太先进了吧！”（已达成驯服小怪的关卡解锁条件，恭喜顺利通过！）又是一阵眩晕，扑鼻而来的，已是海岛棕榈的甘甜与海风拂浪的咸新。
				</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
