<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>1</integer>
			<key>mapIndex</key>
			<integer>2</integer>
		</dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>nodeType</key>
		<integer>0</integer>
		<key>storyContent</key>
		<string>常年被白雪覆盖的阿诺斯灵山，是白熊诺森统治的国度。这里是精灵大陆上唯一一块明令禁止人类踏入的土地，却也是“厄尔斯”碎片散落的地方。大郎既已得到扎拉赞恩的祝福，决定正式上灵山，可究竟白熊与人类的怨恨纠葛是什么？第一块水晶碎片真能如愿获得吗？</string>
		<key>progress</key>
		<integer>0</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>1</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
		<key>arrayBuff</key>
		<array>
			<dict>
				<key>buffType</key>
				<integer>1</integer>
				<key>buffState</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>2</integer>
			<key>mapIndex</key>
			<integer>2</integer>
		</dict>
		<key>riceNum</key>
		<integer>800</integer>
		<key>identifier</key>
		<integer>1</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>刚过山腰，就遭遇了白熊哨兵团，大郎点头向队长示意友好，队长虽不明就里，却也没多起疑心，催促大郎通过。这里，可不比沃尔夫密林，在漫天大雪的深山里寻找碎片，其难度不亚于大海捞针，大郎只得强忍严寒，模仿着白熊的步履，四处搜索着。</string>
		<key>progress</key>
		<integer>40000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>2</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>3</integer>
			<key>mapIndex</key>
			<integer>2</integer>
		</dict>
		<key>riceNum</key>
		<integer>800</integer>
		<key>identifier</key>
		<integer>2</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“站住！”以为四下没熊的大郎终于忍不住直立起来赶路，却被落单的哨兵逮了个正着。随着一声警报响起，武装熊也出现在了山头，大郎想起了树王的忠告，当即伏下表示自己没有恶意，可还没等他解释，就被架着带向了山顶的熊宫。</string>
		<key>progress</key>
		<integer>80000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>3</integer>
				<key>title</key>
				<string></string>
				<key>content</key>
				<string>被白熊哨兵识破，变回人类，双倍米动力效果消失</string>
			</dict>
		</array>
		<key>arrayBuff</key>
		<array>
			<dict>
				<key>buffType</key>
				<integer>1</integer>
				<key>buffState</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>4</integer>
			<key>mapIndex</key>
			<integer>2</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>3</integer>
		<key>nodeType</key>
		<integer>1</integer>
		<key>storyContent</key>
		<string>“大胆人类，竟敢私闯我大灵山，还乔装骗我们，快说！你们人类到底还有什么阴谋！”怀着堆积多年的怨恨，诺森咆哮着怒火。大郎深知事已至此，只能以诚相待，道出了自己此行的目的：收集碎片，消除米怪的侵扰。诺森，显然不是外界传言的那般残暴，他听罢若有所思，不知道心里打着什么算盘。片刻思索后，他便起身转向了内殿。
		</string>
		<key>progress</key>
		<integer>100000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nextLevel</key>
		<dict>
			<key>nodeIndex</key>
			<integer>0</integer>
			<key>mapIndex</key>
			<integer>3</integer>
		</dict>
		<key>riceNum</key>
		<integer>400</integer>
		<key>identifier</key>
		<integer>4</integer>
		<key>nodeType</key>
		<integer>2</integer>
		<key>storyContent</key>
		<string>“这就是你要的‘厄尔斯’碎片，我可以给你，但你拿走以后，失去了厄尔斯碎片，精灵大陆的自然之力就会减半，灵山也会面临被入侵的危险，我的同胞们也会陷入战乱当中，即便如此，你还是要带走它吗？”诺森一反常态的慷慨，反而让大郎惴惴不安，面对唾手可得的水晶碎片，到底是该拿走还是留下呢？
		</string>
		<key>progress</key>
		<integer>120000</integer>
		<key>branch</key>
		<array>
			<dict>
				<key>identifier</key>
				<integer>0</integer>
				<key>title</key>
				<string>拿走</string>
				<key>content</key>
				<string>“单靠精灵的力量，不能保护所有生命。您是灵山之主，应该为天下苍生计，还是让我带上它去完成我的使命吧！”\n \n诺森沉默片刻，说道：“从前你们人类要是为天下苍生计，就不会把我的祖先逼上绝路。现在你跟我谈使命，是在逗我？我甚至不屑于杀了你，回去吧，别让我再看见你！”随即便把大郎赶下了灵山。
				</string>
			</dict>
			<dict>
				<key>mapName</key>
				<string>story4</string>
				<key>identifier</key>
				<integer>4</integer>
				<key>title</key>
				<string>留下</string>
				<key>content</key>
				<string>“我就是为了挽救生命才踏上旅途的，所以这块碎片，您还是拿回去吧。拯救世界的方法不只有一种，或许我先找到其他碎片，最后再来和您讨要这块‘厄尔斯’吧。”\n \n诺森沉默片刻，说道：“我就是为了考验你才这么问的，白熊一族身强力壮，即便没有了‘厄尔斯’我们也能很好地保护自己的家园。碎片你拿着吧，有我诺森的威名，精灵大陆的其他族群也会支持你的。年轻人，去完成你的使命吧！”
				</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
